<div class="mx-auto h-screen justify-center items-center flex-col">
  <div class="w-full h-screen bg-[url('https://picsum.photos/1920/1080')] bg-cover bg-center">
    <div class="w-full h-full justify-center items-center backdrop-blur-lg">
    <div class="mx-auto items-center justify-center">
        <div class="text-white font-extrabold text-5xl w-1/2 text-center">Penyedia Media Dakwah</div>
    </div>
    </div>
    </div>
  </div>
  <copyright class="flex mx-auto bg-black text-xs font-regular text-white mt-5 justify-center p-3 fixed bottom-0">Made by ❤️ @asharirhmn</copyright>
</div>